@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --main-color: #1b95c9;
    --accent-color: #ee940e;
    --background-color: #dddddd;
    --content-color: #fafafa;
    
    --main-color-svg-filter: invert(47%) sepia(100%) saturate(374%) hue-rotate(151deg) brightness(88%) contrast(101%);
    --content-color-svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(297deg) brightness(103%) contrast(96%);
    
    --main-gap: 30px;
    --medium-gap: 20px;
    --small-gap: 10px;
    --tiny-gap: 5px;
    --item-logo-size: 30px;

    --sidebar-size: max(200px, 16%);
    --sidebar-logo-size: 80px;
    --sidebar-item-size: 40px;

    --header-size: max(150px, 18%);
    --card-font-size: 12px;
    --card-title-font-size: 16px;
    --menu-font-size: 18px;
    --logo-font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: var(--header-size) 1fr / var(--sidebar-size) 1fr;
}

.icon {
    width: var(--item-logo-size);
    height: var(--item-logo-size);
    margin-left: var(--small-gap);
}

/* SIDEBAR */
.sidebar {
    background-color: var(--main-color);

    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows:
        var(--sidebar-logo-size)
        calc(6*var(--sidebar-item-size))
        calc(3*var(--sidebar-item-size));
    gap: var(--sidebar-item-size);
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--small-gap);
}

.logo-container .logo {
    height: 70%;
    aspect-ratio: 1 / 1;
    margin-left: var(--small-gap);
}
 

.menu-option {
    height: calc(var(--sidebar-item-size) - var(--tiny-gap));
    padding: var(--tiny-gap) var(--small-gap);
    
    width: calc(100% - 2*var(--small-gap));
    margin: var(--tiny-gap) var(--small-gap);
    
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--medium-gap);
}

.menu-option.home,
.menu-option.settings {margin-top: 0px;}

.menu-option.privacy,
.menu-option.communities {margin-bottom: 0px;}

.logo-container .logo img,
.menu .icon > img {
    filter: var(--content-color-svg-filter);
}

.sidebar {
    color: var(--content-color);
}

.sidebar .logo-container p {
    font-size: var(--logo-font-size);
}

.sidebar .menu-option p {
    font-size: var(--menu-font-size);
}

.sidebar .menu-option:hover {
    background-color: var(--content-color);
    color: var(--main-color);
    cursor: pointer;
}

.sidebar .menu-option:hover img {
    filter: var(--main-color-svg-filter);
}

/* HEADER */
.header {   
    background-color: var(--content-color);

    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template: 2fr 3fr / var(--main-gap) 2fr 1fr;
}

/* header search */
.header .search {
    grid-column: 2;

    display: flex;
    gap: var(--small-gap);
    justify-content: flex-start;
    align-items: center;
}

#search {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 50%;
    height: 60%;
    border-radius: calc(var(--sidebar-item-size) / 2);
    padding: 0 1em;

    border: none;
    background-color: var(--background-color);
}

#search:focus { 
    outline: none;
    border: 2px solid var(--main-color);
}

/* header small profile */
.header .small-profile {
    grid-column: 3;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--main-gap);
}

.header .small-pfp {
    background-color: blueviolet;
    height: 80%;
    aspect-ratio: 1 / 1;
}

.header > .small-profile > .profile-name {
    margin-right: var(--medium-gap);
}

/* header big profile */
.header .big-profile {
    grid-column: 2;

    display: grid;
    grid-template-columns: 100px 1fr;
}

.header .big-pfp {
    background-color: blueviolet;
    aspect-ratio: 1 / 1;

}

.header .name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* header buttons */
.header .buttons {
    grid-column: 3;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .buttons button {
    height: 40%;
    width: 20%;
}

/* BODY (CARDS) */
.body {
    background-color: var(--background-color);
    padding-top: var(--medium-gap);

    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template-columns: 1fr 300px;
    gap: var(--main-gap)
}

.sidecards {
    display: grid;
    grid-template-rows: repeat(2, var(--main-gap) 280px) 1fr;
    margin-right: var(--main-gap);
}

.body .sidecards > .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    margin-bottom: var(--small-gap);
    background-color: var(--content-color);
}

/* projects */
.body .cards-container {
    margin-left: var(--medium-gap);
}

.body .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: var(--main-gap);
    grid-auto-rows: 200px;
    gap: var(--medium-gap);

    margin-bottom: var(--main-gap);
}

.body .cards > h3 {
    grid-column: 1 / -1;
}

.body .project-card {
    display: grid;
    grid-template-rows:
        var(--medium-gap)
        var(--medium-gap)
        1fr
        var(--item-logo-size)
        var(--medium-gap);
    grid-template-columns: var(--small-gap) 1fr;
    
    background-color: var(--accent-color)
}

/* keep left column empty with accent color background */
.body .project-card > * {
    grid-column: 2;
    background-color: var(--content-color)
}

.body .project-card .icons {
    display: flex;
    justify-content: flex-end;
}

.project-card > * {
    padding-left: var(--medium-gap);
    padding-right: var(--medium-gap);
}

/* announcements */
.announcement {
    margin-left: 10%;
    margin-right: 10%;
}

.announcement-card .line {
    height: 2px;
    width: 86%;
    align-self: center;
    background-color: var(--background-color);
}

/* Trending */
.trending-card .small-profile {
    height: 20%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: flex-start;
    gap: var(--medium-gap);
}

.trending-card .small-pfp {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: blueviolet;
}

.trending-card .name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
}


.body .cards * { border: 1px green solid;}


.header div,
.sidecards *,
.body .cards > * {
    border: 1px red solid;
}
