:root {
    --main-color: #146ad4;
    --accent-color: #ee940e;
    --background-color: #aaaaaa;
    --content-color: #fafafa;

    --header-size: max(150px, 20%);
    --sidebar-size: max(200px, 16%);
    --sidebar-logo-size: 80px;
    --sidebar-item-size: 40px;
    --sidebar-item-logo-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template: var(--header-size) 1fr / var(--sidebar-size) 1fr;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--main-color);

    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows:
        var(--sidebar-logo-size)
        calc(6*var(--sidebar-item-size))
        calc(3*var(--sidebar-item-size));
    gap: var(--sidebar-item-size);
}

.menu-option {
    height: var(--sidebar-item-size);
}

nav div {border: 1px red solid;}


.header {
    background-color: var(--content-color);

    grid-area: 1 / 2 / 2 / 3;
}

.body {
    background-color: var(--background-color);

    grid-area: 2 / 2 / 3 / 3;
}